.menu {
  background-color: #c0ac95;
  height: 50vh;
  position: fixed;

  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 25% 25%;
  animation: menu-appear 1s ease-in-out forwards;
}

.menu ul {
  text-decoration: none;
}
.menu ul li {
  font-size: 3.4rem;
  margin: 3rem;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Italiana", serif;
}
@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
